In [1]:
%load_ext watermark

In [2]:
%watermark -a "Samira Kumar "-v -m

Samira Kumar

CPython 2.7.15
IPython 5.8.0

compiler   : GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)
system     : Darwin
release    : 18.2.0
machine    : x86_64
processor  : i386
CPU cores  : 4
interpreter: 64bit

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.DataFrame(pd.read_csv('passes.csv'))
df.tail()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_19,y_20,y_21,y_22,y_23,y_24,y_25,y_26,y_27,y_28
12119,504500,506200,7,11,-2200.0,-820.0,NaN,-1070.0,500.0,-990.0,...,-570.0,2700.0,2840.0,2100.0,1560.0,NaN,-1040.0,NaN,NaN,1450.0
12120,1157000,1159100,17,16,-750.0,-140.0,840.0,670.0,-2530.0,NaN,...,3070.0,290.0,NaN,-1030.0,NaN,-1530.0,-3340.0,1370.0,1370.0,NaN
12121,700,1100,16,27,-1210.0,-830.0,-800.0,-410.0,-1790.0,-240.0,...,NaN,-1040.0,1830.0,NaN,1300.0,NaN,-590.0,-1960.0,60.0,-80.0
12122,2074300,2075100,27,21,750.0,430.0,1620.0,NaN,NaN,-1160.0,...,NaN,NaN,-1490.0,-570.0,-310.0,NaN,890.0,530.0,-2810.0,1100.0
12123,1799900,1801500,3,1,-180.0,-620.0,590.0,-1780.0,NaN,1540.0,...,-3030.0,NaN,NaN,-440.0,-2970.0,-1500.0,-1150.0,-1300.0,1010.0,-2660.0

In [3]:
#no of players on pitch -12 means 22 players on pitch while 14 means only 21 players on pitch
#keep only passes where total players on pitch is 22
print (df.isnull().sum(axis=1).value_counts())
index=df.index[df.isnull().sum(axis=1)==14]
df=df[~df.index.isin(index)].reset_index(drop=True)
print (df.isnull().sum(axis=1).value_counts())
df.tail()

12    11686
14      438
dtype: int64
12    11686
dtype: int64

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_19,y_20,y_21,y_22,y_23,y_24,y_25,y_26,y_27,y_28
11681,504500,506200,7,11,-2200.0,-820.0,NaN,-1070.0,500.0,-990.0,...,-570.0,2700.0,2840.0,2100.0,1560.0,NaN,-1040.0,NaN,NaN,1450.0
11682,1157000,1159100,17,16,-750.0,-140.0,840.0,670.0,-2530.0,NaN,...,3070.0,290.0,NaN,-1030.0,NaN,-1530.0,-3340.0,1370.0,1370.0,NaN
11683,700,1100,16,27,-1210.0,-830.0,-800.0,-410.0,-1790.0,-240.0,...,NaN,-1040.0,1830.0,NaN,1300.0,NaN,-590.0,-1960.0,60.0,-80.0
11684,2074300,2075100,27,21,750.0,430.0,1620.0,NaN,NaN,-1160.0,...,NaN,NaN,-1490.0,-570.0,-310.0,NaN,890.0,530.0,-2810.0,1100.0
11685,1799900,1801500,3,1,-180.0,-620.0,590.0,-1780.0,NaN,1540.0,...,-3030.0,NaN,NaN,-440.0,-2970.0,-1500.0,-1150.0,-1300.0,1010.0,-2660.0

In [4]:
df['pass_success']=np.where(((df['sender_id'] <=14) & (df['receiver_id'] <=14)) | ((df['sender_id'] >14) & (df['receiver_id'] >14)),1,0)
df['pass_success'].value_counts()

1    10047
0     2077
Name: pass_success, dtype: int64

In [5]:
index=df[df['sender_id']==df['receiver_id']].index
df_filter=df.iloc[~df.index.isin(index)]
df_filter=df_filter.reset_index(drop=True)
df_filter.tail()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_20,y_21,y_22,y_23,y_24,y_25,y_26,y_27,y_28,pass_success
12113,504500,506200,7,11,-2200.0,-820.0,NaN,-1070.0,500.0,-990.0,...,2700.0,2840.0,2100.0,1560.0,NaN,-1040.0,NaN,NaN,1450.0,1
12114,1157000,1159100,17,16,-750.0,-140.0,840.0,670.0,-2530.0,NaN,...,290.0,NaN,-1030.0,NaN,-1530.0,-3340.0,1370.0,1370.0,NaN,1
12115,700,1100,16,27,-1210.0,-830.0,-800.0,-410.0,-1790.0,-240.0,...,-1040.0,1830.0,NaN,1300.0,NaN,-590.0,-1960.0,60.0,-80.0,1
12116,2074300,2075100,27,21,750.0,430.0,1620.0,NaN,NaN,-1160.0,...,NaN,-1490.0,-570.0,-310.0,NaN,890.0,530.0,-2810.0,1100.0,1
12117,1799900,1801500,3,1,-180.0,-620.0,590.0,-1780.0,NaN,1540.0,...,NaN,NaN,-440.0,-2970.0,-1500.0,-1150.0,-1300.0,1010.0,-2660.0,1

In [9]:
df.loc[df['sender_id']!=df['receiver_id']].reset_index(drop=True)

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_20,y_21,y_22,y_23,y_24,y_25,y_26,y_27,y_28,pass_success
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,3080.0,-180.0,-110.0,390.0,-2470.0,330.0,0.0,NaN,1430.0,1
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,NaN,NaN,-720.0,2470.0,1230.0,1380.0,770.0,-1350.0,-160.0,1
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,NaN,NaN,320.0,2230.0,1370.0,570.0,1340.0,-920.0,650.0,1
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,NaN,-400.0,1620.0,270.0,1200.0,-1810.0,170.0,1820.0,NaN,1
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,-450.0,-480.0,260.0,NaN,-210.0,2650.0,2380.0,-2790.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12113,504500,506200,7,11,-2200.0,-820.0,NaN,-1070.0,500.0,-990.0,...,2700.0,2840.0,2100.0,1560.0,NaN,-1040.0,NaN,NaN,1450.0,1
12114,1157000,1159100,17,16,-750.0,-140.0,840.0,670.0,-2530.0,NaN,...,290.0,NaN,-1030.0,NaN,-1530.0,-3340.0,1370.0,1370.0,NaN,1
12115,700,1100,16,27,-1210.0,-830.0,-800.0,-410.0,-1790.0,-240.0,...,-1040.0,1830.0,NaN,1300.0,NaN,-590.0,-1960.0,60.0,-80.0,1
12116,2074300,2075100,27,21,750.0,430.0,1620.0,NaN,NaN,-1160.0,...,NaN,-1490.0,-570.0,-310.0,NaN,890.0,530.0,-2810.0,1100.0,1
12117,1799900,1801500,3,1,-180.0,-620.0,590.0,-1780.0,NaN,1540.0,...,NaN,NaN,-440.0,-2970.0,-1500.0,-1150.0,-1300.0,1010.0,-2660.0,1

In [6]:
home_away=[]
for index,value in df_filter.iterrows():
    if value['sender_id']<=14:
        home_away.append(1)
    else:
        home_away.append(0)
df_filter['home_away']=home_away
df_filter.head()
#home = 1 (<15)

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_21,y_22,y_23,y_24,y_25,y_26,y_27,y_28,pass_success,home_away
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,-180.0,-110.0,390.0,-2470.0,330.0,0.0,NaN,1430.0,1,0
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,NaN,-720.0,2470.0,1230.0,1380.0,770.0,-1350.0,-160.0,1,1
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,NaN,320.0,2230.0,1370.0,570.0,1340.0,-920.0,650.0,1,1
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,-400.0,1620.0,270.0,1200.0,-1810.0,170.0,1820.0,NaN,1,1
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,-480.0,260.0,NaN,-210.0,2650.0,2380.0,-2790.0,NaN,1,0

In [11]:
df_filter['sender_id'].apply(lambda x: 1 if x < 15 else 0)

0        0
1        1
2        1
3        1
4        0
        ..
12113    1
12114    0
12115    0
12116    0
12117    1
Name: sender_id, Length: 12118, dtype: int64

#### Distance between sender and other teammates

In [24]:
sender_x=[]
sender_y=[]
receiver_x=[]
receiver_y=[]

for index,value in df_filter.iterrows():
    sender_id=value['sender_id'].astype(int)
    receiver_id=value['receiver_id'].astype(int)

    sender_x.append(value.iloc[sender_id+3])
    sender_y.append(value.iloc[sender_id+31])
    
    receiver_x.append(value.iloc[receiver_id+3])
    receiver_y.append(value.iloc[receiver_id+31])
#     sender_x.append(value.lindex+4)
df_filter['sender_x']=sender_x
df_filter['sender_y']=sender_y
df_filter['receiver_x']=receiver_x
df_filter['receiver_y']=receiver_y
df_filter=df_filter.dropna(subset=['sender_x'])
df_filter=df_filter.dropna(subset=['receiver_x'])

df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_25,y_26,y_27,y_28,pass_success,home_away,sender_x,sender_y,receiver_x,receiver_y
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,330.0,0.0,NaN,1430.0,1,0,100.0,0.0,-850.0,-180.0
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,1380.0,770.0,-1350.0,-160.0,1,1,4140.0,260.0,1560.0,-1740.0
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,570.0,1340.0,-920.0,650.0,1,1,-160.0,2330.0,-810.0,1600.0
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,-1810.0,170.0,1820.0,NaN,1,1,-710.0,620.0,-1900.0,1000.0
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,2650.0,2380.0,-2790.0,NaN,1,0,0.0,0.0,0.0,-210.0

In [11]:
df_filter[['sender_x','sender_y','receiver_x','receiver_y']].isna().sum()

sender_x      0
sender_y      0
receiver_x    0
receiver_y    0
dtype: int64

In [6]:
from scipy.spatial import distance

dist_send_receiver=[]

for index,value in df_filter.iterrows():
    send=value[['sender_x','sender_y']]
    receive=value[['receiver_x','receiver_y']]
    dist_send_receiver.append(distance.euclidean(send, receive))
    
df_filter['dist_send_receive']=dist_send_receiver
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_26,y_27,y_28,pass_success,home_away,sender_x,sender_y,receiver_x,receiver_y,dist_send_receive
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,0.0,NaN,1430.0,1,0,100.0,0.0,-850.0,-180.0,966.902270
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,770.0,-1350.0,-160.0,1,1,4140.0,260.0,1560.0,-1740.0,3264.414189
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,1340.0,-920.0,650.0,1,1,-160.0,2330.0,-810.0,1600.0,977.445651
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,170.0,1820.0,NaN,1,1,-710.0,620.0,-1900.0,1000.0,1249.199744
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,2380.0,-2790.0,NaN,1,0,0.0,0.0,0.0,-210.0,210.000000

In [7]:
index=np.array([4369,6445])
df_filter=df_filter.iloc[~df_filter.index.isin(index)]
df_filter=df_filter.reset_index(drop=True)
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,y_26,y_27,y_28,pass_success,home_away,sender_x,sender_y,receiver_x,receiver_y,dist_send_receive
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,0.0,NaN,1430.0,1,0,100.0,0.0,-850.0,-180.0,966.902270
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,770.0,-1350.0,-160.0,1,1,4140.0,260.0,1560.0,-1740.0,3264.414189
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,1340.0,-920.0,650.0,1,1,-160.0,2330.0,-810.0,1600.0,977.445651
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,170.0,1820.0,NaN,1,1,-710.0,620.0,-1900.0,1000.0,1249.199744
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,2380.0,-2790.0,NaN,1,0,0.0,0.0,0.0,-210.0,210.000000

In [8]:
df_filter.shape

(12114, 67)

In [9]:
home_team_x=[]
home_team_y=[]

away_team_x=[]
away_team_y=[]

for index,value in df_filter.iterrows():
    home_team_x.append(value.iloc[4:18].values.tolist())
    home_team_y.append(value.iloc[32:46].values.tolist())
    away_team_x.append(value.iloc[18:32].values.tolist())
    away_team_y.append(value.iloc[46:60].values.tolist())
    
df_filter['home_team_x']=home_team_x
df_filter['home_team_y']=home_team_y
df_filter['away_team_x']=away_team_x
df_filter['away_team_y']=away_team_y

df_filter.head(5)

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,home_away,sender_x,sender_y,receiver_x,receiver_y,dist_send_receive,home_team_x,home_team_y,away_team_x,away_team_y
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,0,100.0,0.0,-850.0,-180.0,966.902270,"[890.0, 830.0, 1610.0, nan, 310.0, 310.0, 1600...","[200.0, -440.0, -460.0, nan, 860.0, -1380.0, 1...","[-2240.0, -1240.0, nan, -850.0, nan, -170.0, 1...","[-500.0, -1410.0, nan, -180.0, nan, 3080.0, -1..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,1,4140.0,260.0,1560.0,-1740.0,3264.414189,"[3070.0, nan, 940.0, 4450.0, 1460.0, 1680.0, 4...","[800.0, nan, -460.0, 2050.0, 1320.0, 2300.0, 1...","[50.0, -3420.0, nan, 1220.0, -110.0, nan, nan,...","[-1360.0, 30.0, nan, 1160.0, 2240.0, nan, nan,..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,1,-160.0,2330.0,-810.0,1600.0,977.445651,"[-180.0, nan, -1440.0, -160.0, -1370.0, -1140....","[1040.0, nan, 1010.0, 2330.0, 1070.0, 1330.0, ...","[-2360.0, -4700.0, nan, -1000.0, -1580.0, nan,...","[-710.0, 40.0, nan, 1560.0, 2250.0, nan, nan, ..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,1,-710.0,620.0,-1900.0,1000.0,1249.199744,"[-950.0, -1140.0, 1110.0, nan, -310.0, -2210.0...","[1170.0, -390.0, 530.0, nan, 2370.0, -1870.0, ...","[-980.0, nan, 750.0, -2060.0, 3960.0, nan, 710...","[1210.0, nan, 580.0, -650.0, 70.0, nan, -400.0..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,0,0.0,0.0,0.0,-210.0,210.000000,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, nan, 1290.0, 2340....","[0.0, -10.0, 650.0, -2010.0, nan, -450.0, -480..."

In [35]:
df_filter.iloc[0,2:40]

sender_id        26.0
receiver_id      18.0
x_1             890.0
x_2             830.0
x_3            1610.0
x_4               NaN
x_5             310.0
x_6             310.0
x_7            1600.0
x_8               NaN
x_9            1810.0
x_10           1330.0
x_11              0.0
x_12           4360.0
x_13            260.0
x_14              NaN
x_15          -2240.0
x_16          -1240.0
x_17              NaN
x_18           -850.0
x_19              NaN
x_20           -170.0
x_21            140.0
x_22          -4820.0
x_23          -2090.0
x_24           -310.0
x_25          -1010.0
x_26            100.0
x_27              NaN
x_28          -1550.0
y_1             200.0
y_2            -440.0
y_3            -460.0
y_4               NaN
y_5             860.0
y_6           -1380.0
y_7            1630.0
y_8               NaN
Name: 0, dtype: float64

In [10]:
home_team_x=[]
home_team_y=[]

away_team_x=[]
away_team_y=[]

for index,value in df_filter.iterrows():
    home_x=np.array(value['home_team_x'])
    home_x_nan=home_x[~np.isnan(home_x)]
    home_team_x.append(home_x_nan)
    
    home_y=np.array(value['home_team_y'])
    home_y_nan=home_y[~np.isnan(home_y)]
    home_team_y.append(home_y_nan)
    
    away_x=np.array(value['away_team_x'])
    away_x_nan=away_x[~np.isnan(away_x)]
    away_team_x.append(away_x_nan)
    
    away_y=np.array(value['away_team_y'])
    away_y_nan=away_y[~np.isnan(away_y)]
    away_team_y.append(away_y_nan)
    
#     home_team_x.append(home_x[~np.isnan(home_x)])

df_filter['home_team_x']=home_team_x
df_filter['home_team_y']=home_team_y
df_filter['away_team_x']=away_team_x
df_filter['away_team_y']=away_team_y

df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,home_away,sender_x,sender_y,receiver_x,receiver_y,dist_send_receive,home_team_x,home_team_y,away_team_x,away_team_y
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,0,100.0,0.0,-850.0,-180.0,966.902270,"[890.0, 830.0, 1610.0, 310.0, 310.0, 1600.0, 1...","[200.0, -440.0, -460.0, 860.0, -1380.0, 1630.0...","[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,1,4140.0,260.0,1560.0,-1740.0,3264.414189,"[3070.0, 940.0, 4450.0, 1460.0, 1680.0, 4640.0...","[800.0, -460.0, 2050.0, 1320.0, 2300.0, 1400.0...","[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,1,-160.0,2330.0,-810.0,1600.0,977.445651,"[-180.0, -1440.0, -160.0, -1370.0, -1140.0, 85...","[1040.0, 1010.0, 2330.0, 1070.0, 1330.0, 1440....","[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,1,-710.0,620.0,-1900.0,1000.0,1249.199744,"[-950.0, -1140.0, 1110.0, -310.0, -2210.0, -19...","[1170.0, -390.0, 530.0, 2370.0, -1870.0, 1000....","[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,0,0.0,0.0,0.0,-210.0,210.000000,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2..."

In [17]:
defenders_xy=[]
attackers_xy=[]
for index,value in df_filter.iterrows():
    if value['home_away']==1:
         away_combined= np.column_stack((value['away_team_x'],value['away_team_y']))#np.column_stack
         defenders_xy.append(away_combined)
         
         attack_combined= np.column_stack((value['home_team_x'],value['home_team_y']))
         attackers_xy.append(attack_combined)
    

    else:
         home_combined= np.column_stack((value['home_team_x'],value['home_team_y']))
         defenders_xy.append(home_combined)
         attack_combined= np.column_stack((value['away_team_x'],value['away_team_y']))
         attackers_xy.append(attack_combined)
            
df_filter['defenders_xy']=defenders_xy
df_filter['attackers_xy']=attackers_xy

df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,sender_y,receiver_x,receiver_y,dist_send_receive,home_team_x,home_team_y,away_team_x,away_team_y,defenders_xy,attackers_xy
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,0.0,-850.0,-180.0,966.902270,"[890.0, 830.0, 1610.0, 310.0, 310.0, 1600.0, 1...","[200.0, -440.0, -460.0, 860.0, -1380.0, 1630.0...","[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850...."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,260.0,1560.0,-1740.0,3264.414189,"[3070.0, 940.0, 4450.0, 1460.0, 1680.0, 4640.0...","[800.0, -460.0, 2050.0, 1320.0, 2300.0, 1400.0...","[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,2330.0,-810.0,1600.0,977.445651,"[-180.0, -1440.0, -160.0, -1370.0, -1140.0, 85...","[1040.0, 1010.0, 2330.0, 1070.0, 1330.0, 1440....","[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-160.0,..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,620.0,-1900.0,1000.0,1249.199744,"[-950.0, -1140.0, 1110.0, -310.0, -2210.0, -19...","[1170.0, -390.0, 530.0, 2370.0, -1870.0, 1000....","[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,0.0,0.0,-210.0,210.000000,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[0.0, 0.0], [4880.0, -10.0], [2080.0, 650.0],..."

In [18]:
df_filter['defenders_xy'][0]

array([[  890.,   200.],
       [  830.,  -440.],
       [ 1610.,  -460.],
       [  310.,   860.],
       [  310., -1380.],
       [ 1600.,  1630.],
       [ 1810.,   220.],
       [ 1330., -1470.],
       [    0.,   920.],
       [ 4360.,   -70.],
       [  260.,  2210.]])

In [19]:
df_filter['attackers_xy'][4]

array([[    0.,     0.],
       [ 4880.,   -10.],
       [ 2080.,   650.],
       [   30., -2010.],
       [ 1290.,  -450.],
       [ 2340.,  -480.],
       [  950.,   260.],
       [    0.,  -210.],
       [  830.,  2650.],
       [   10.,  2380.],
       [ 1230., -2790.]])

In [20]:
defenders_xy=[]
attackers_xy=[]
for index,value in df_filter.iterrows():
    A=value['attackers_xy'].tolist()
    B=[value[['sender_x','sender_y']].values.tolist()]
#     print A
#     print B
    
#     print [i for i in A if i not in B]
    attackers_xy.append([i for i in A if i not in B])

df_filter['attackers_xy']=attackers_xy
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,sender_y,receiver_x,receiver_y,dist_send_receive,home_team_x,home_team_y,away_team_x,away_team_y,defenders_xy,attackers_xy
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,0.0,-850.0,-180.0,966.902270,"[890.0, 830.0, 1610.0, 310.0, 310.0, 1600.0, 1...","[200.0, -440.0, -460.0, 860.0, -1380.0, 1630.0...","[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850...."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,260.0,1560.0,-1740.0,3264.414189,"[3070.0, 940.0, 4450.0, 1460.0, 1680.0, 4640.0...","[800.0, -460.0, 2050.0, 1320.0, 2300.0, 1400.0...","[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,2330.0,-810.0,1600.0,977.445651,"[-180.0, -1440.0, -160.0, -1370.0, -1140.0, 85...","[1040.0, 1010.0, 2330.0, 1070.0, 1330.0, 1440....","[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,620.0,-1900.0,1000.0,1249.199744,"[-950.0, -1140.0, 1110.0, -310.0, -2210.0, -19...","[1170.0, -390.0, 530.0, 2370.0, -1870.0, 1000....","[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,0.0,0.0,-210.0,210.000000,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201..."

In [21]:
#home = 1 (<15)
#find distance between own players. so if home ==1, then home_team x and y
dist_sender_players=[]
for index,value in df_filter.iterrows():
    away_combined= ((value['attackers_xy']))
    away_sender=value[['sender_x','sender_y']].values
    dist_sender_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))

#     if value['home_away']==0:
#          away_combined= ((value['attackers_xy']))
#          away_sender=value[['sender_x','sender_y']].values
# #           print value[['sender_x','sender_y']].values
#          dist_sender_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))
#     else:
#          home_combined= ((value['attackers_xy']))
#          away_sender=value[['sender_x','sender_y']].values
# #           print value[['sender_x','sender_y']].values
#          dist_sender_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],home_combined),2))
df_filter['dist_sender_own_players']=dist_sender_players
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,receiver_x,receiver_y,dist_send_receive,home_team_x,home_team_y,away_team_x,away_team_y,defenders_xy,attackers_xy,dist_sender_own_players
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,-850.0,-180.0,966.902270,"[890.0, 830.0, 1610.0, 310.0, 310.0, 1600.0, 1...","[200.0, -440.0, -460.0, 860.0, -1380.0, 1630.0...","[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,1560.0,-1740.0,3264.414189,"[3070.0, 940.0, 4450.0, 1460.0, 1680.0, 4640.0...","[800.0, -460.0, 2050.0, 1320.0, 2300.0, 1400.0...","[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,-810.0,1600.0,977.445651,"[-180.0, -1440.0, -160.0, -1370.0, -1140.0, 85...","[1040.0, 1010.0, 2330.0, 1070.0, 1330.0, 1440....","[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,-1900.0,1000.0,1249.199744,"[-950.0, -1140.0, 1110.0, -310.0, -2210.0, -19...","[1170.0, -390.0, 530.0, 2370.0, -1870.0, 1000....","[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,0.0,-210.0,210.000000,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ..."

In [37]:
import math
math.degrees(math.atan2(50-100, 100-100))

-90.0

In [23]:
#home = 1 (<15)
#find distance between own players. so if home ==1, then home_team x and y
dist_receiver_players=[]
for index,value in df_filter.iterrows():
     away_combined= ((value['attackers_xy']))
     away_sender=value[['receiver_x','receiver_y']].values
     dist_receiver_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))

#     if value['home_away']==0:
#          away_combined= ((value['attackers_xy']))
#          away_sender=value[['receiver_x','receiver_y']].values
#          dist_receiver_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))
#     else:
#          home_combined= np.column_stack((value['home_team_x'],value['home_team_y']))
#          away_sender=value[['receiver_x','receiver_y']].values
# #           print value[['sender_x','sender_y']].values
#          dist_receiver_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],home_combined),2))
df_filter['dist_receiver_own_players']=dist_receiver_players
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,receiver_y,dist_send_receive,home_team_x,home_team_y,away_team_x,away_team_y,defenders_xy,attackers_xy,dist_sender_own_players,dist_receiver_own_players
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,-180.0,966.902270,"[890.0, 830.0, 1610.0, 310.0, 310.0, 1600.0, 1...","[200.0, -440.0, -460.0, 860.0, -1380.0, 1630.0...","[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970...."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,-1740.0,3264.414189,"[3070.0, 940.0, 4450.0, 1460.0, 1680.0, 4640.0...","[800.0, -460.0, 2050.0, 1320.0, 2300.0, 1400.0...","[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,1600.0,977.445651,"[-180.0, -1440.0, -160.0, -1370.0, -1140.0, 85...","[1040.0, 1010.0, 2330.0, 1070.0, 1330.0, 1440....","[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,1000.0,1249.199744,"[-950.0, -1140.0, 1110.0, -310.0, -2210.0, -19...","[1170.0, -390.0, 530.0, 2370.0, -1870.0, 1000....","[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,-210.0,210.000000,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ..."

In [24]:
df_filter['dist_receiver_own_players'][0]

array([[1426.36, 1290.35,    0.  , 3330.17,  990.  , 3970.62, 1364.73,
        2352.81,  534.51, 1755.59]])

In [25]:
dist_sender_opp_players=[]
for index,value in df_filter.iterrows():
    away_combined= ((value['defenders_xy']))
    away_sender=value[['sender_x','sender_y']].values
    dist_sender_opp_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))

#     if value['home_away']==1:
#          away_combined= ((value['defenders_xy']))
#          away_sender=value[['sender_x','sender_y']].values
# #           print value[['sender_x','sender_y']].values
#          dist_sender_opp_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))
#     else:
#          home_combined= np.column_stack((value['home_team_x'],value['home_team_y']))
#          away_sender=value[['sender_x','sender_y']].values
# #           print value[['sender_x','sender_y']].values
#          dist_sender_opp_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],home_combined),2))
df_filter['dist_sender_opp_players']=dist_sender_opp_players
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,dist_send_receive,home_team_x,home_team_y,away_team_x,away_team_y,defenders_xy,attackers_xy,dist_sender_own_players,dist_receiver_own_players,dist_sender_opp_players
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,966.902270,"[890.0, 830.0, 1610.0, 310.0, 310.0, 1600.0, 1...","[200.0, -440.0, -460.0, 860.0, -1380.0, 1630.0...","[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,3264.414189,"[3070.0, 940.0, 4450.0, 1460.0, 1680.0, 4640.0...","[800.0, -460.0, 2050.0, 1320.0, 2300.0, 1400.0...","[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,977.445651,"[-180.0, -1440.0, -160.0, -1370.0, -1140.0, 85...","[1040.0, 1010.0, 2330.0, 1070.0, 1330.0, 1440....","[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,1249.199744,"[-950.0, -1140.0, 1110.0, -310.0, -2210.0, -19...","[1170.0, -390.0, 530.0, 2370.0, -1870.0, 1000....","[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,210.000000,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137..."

In [26]:
dist_sender_opp_players=[]
for index,value in df_filter.iterrows():
    
    away_combined= ((value['defenders_xy']))
    away_sender=value[['receiver_x','receiver_y']].values
    dist_sender_opp_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))


#     if value['home_away']==1:
#          away_combined= np.column_stack((value['away_team_x'],value['away_team_y']))
#          away_sender=value[['receiver_x','receiver_y']].values
# #           print value[['sender_x','sender_y']].values
#          dist_sender_opp_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],away_combined),2))
#     else:
#          home_combined= np.column_stack((value['home_team_x'],value['home_team_y']))
#          away_sender=value[['receiver_x','receiver_y']].values
# #           print value[['sender_x','sender_y']].values
#          dist_sender_opp_players.append(np.round(distance.cdist(away_sender[np.newaxis, :],home_combined),2))
df_filter['dist_receiver_opp_players']=dist_sender_opp_players
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,home_team_x,home_team_y,away_team_x,away_team_y,defenders_xy,attackers_xy,dist_sender_own_players,dist_receiver_own_players,dist_sender_opp_players,dist_receiver_opp_players
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[890.0, 830.0, 1610.0, 310.0, 310.0, 1600.0, 1...","[200.0, -440.0, -460.0, 860.0, -1380.0, 1630.0...","[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[3070.0, 940.0, 4450.0, 1460.0, 1680.0, 4640.0...","[800.0, -460.0, 2050.0, 1320.0, 2300.0, 1400.0...","[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[-180.0, -1440.0, -160.0, -1370.0, -1140.0, 85...","[1040.0, 1010.0, 2330.0, 1070.0, 1330.0, 1440....","[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[-950.0, -1140.0, 1110.0, -310.0, -2210.0, -19...","[1170.0, -390.0, 530.0, 2370.0, -1870.0, 1000....","[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[-880.0, -930.0, -1460.0, 150.0, -740.0, -110....","[-20.0, 1040.0, -1660.0, -720.0, -330.0, 1370....","[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158..."

In [27]:
dist_closest_own_player=[]
dist_closest_opp_player=[]

for index,value in df_filter.iterrows():
    sender_own_players=value['dist_sender_own_players']
    sender_opp_players=value['dist_sender_opp_players']
    #use index 1 since after removing nan, sender-sender distance will be 0 and minimum. so 2nd min distance is at 1
    dist_closest_own_player.append(np.partition(sender_own_players[~np.isnan(sender_own_players)],1)[1])
    #for opposition player, index 0 gives lowest distance between closest player
    dist_closest_opp_player.append(np.partition(sender_opp_players[~np.isnan(sender_opp_players)],1)[0])

df_filter['dist_closest_own_player']=dist_closest_own_player
df_filter['dist_closest_opp_player']=dist_closest_opp_player

df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,away_team_x,away_team_y,defenders_xy,attackers_xy,dist_sender_own_players,dist_receiver_own_players,dist_sender_opp_players,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[-2240.0, -1240.0, -850.0, -170.0, 140.0, -482...","[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[50.0, -3420.0, 1220.0, -110.0, -660.0, 1960.0...","[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[-2360.0, -4700.0, -1000.0, -1580.0, -2290.0, ...","[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[-980.0, 750.0, -2060.0, 3960.0, 710.0, -1570....","[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[0.0, 4880.0, 2080.0, 30.0, 1290.0, 2340.0, 95...","[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46

In [28]:
from numpy import linalg as LA
dist_defender_lop=[] 
#distance between defenders to line of pass
for index,value in df_filter.iterrows():
    sender_xy=value[['sender_x','sender_y']].values
    receiver_xy=value[['receiver_x','receiver_y']].values
    defender_xy=value[['defenders_xy']]
    
    for i in range(0,len(defender_xy)):
        dist_defender_lop.append(np.round(min(np.abs(np.cross(receiver_xy-sender_xy,defender_xy[i]-sender_xy)/LA.norm(receiver_xy-sender_xy))),2))
df_filter['dist_sr_closest_defender_lop']=dist_defender_lop
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,away_team_y,defenders_xy,attackers_xy,dist_sender_own_players,dist_receiver_own_players,dist_sender_opp_players,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[-500.0, -1410.0, -180.0, 3080.0, -180.0, -110...","[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92,49.44
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[-1360.0, 30.0, 1160.0, 2240.0, -720.0, 2470.0...","[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09,382.79
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[-710.0, 40.0, 1560.0, 2250.0, 320.0, 2230.0, ...","[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32,115.30
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[1210.0, 580.0, -650.0, 70.0, -400.0, 1620.0, ...","[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00,296.91
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[0.0, -10.0, 650.0, -2010.0, -450.0, -480.0, 2...","[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46,20.00

In [29]:
from numpy import linalg as LA
dist_o_defender_lop=[]
dist_op_defender_lop=[]

count=0
#distance between defenders to line of pass for all possible passes
for index,value in df_filter.iterrows():
    sender_xy=value[['sender_x','sender_y']].values
    attacker_xy=value[['attackers_xy']].values.tolist()
    defender_xy=value[['defenders_xy']].values.tolist()
    dist_o_defender_lop=[]

    for i in range(0,len(attacker_xy[0])):
        dist_defender_lop=[]
        
        for j in range(0,len(defender_xy[0])):
            lop=np.abs(np.cross(attacker_xy[0][i]-sender_xy,defender_xy[0][j]-sender_xy)/LA.norm(attacker_xy[0][i]-sender_xy))
            dist_defender_lop.append(lop)
        
        dist_o_defender_lop.append(np.round((dist_defender_lop),2))
    dist_op_defender_lop.append(dist_o_defender_lop)

df_filter['dist_other_passes_defender_lop']=dist_op_defender_lop
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,defenders_xy,attackers_xy,dist_sender_own_players,dist_receiver_own_players,dist_sender_opp_players,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop,dist_other_passes_defender_lop
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[[890.0, 200.0], [830.0, -440.0], [1610.0, -46...","[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92,49.44,"[[30.51, 582.83, 765.37, 797.13, 1393.42, 1280..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[[50.0, -1360.0], [-3420.0, 30.0], [1220.0, 11...","[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09,382.79,"[[3289.0, 3611.47, 512.12, 147.18, 3037.53, 99..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[[-2360.0, -710.0], [-4700.0, 40.0], [-1000.0,...","[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32,115.30,"[[2152.61, 4503.95, 827.96, 1418.59, 2098.59, ..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[[-980.0, 1210.0], [750.0, 580.0], [-2060.0, -...","[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00,296.91,"[[11.5, 1322.15, 1745.26, 4060.27, 893.54, 388..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[[-880.0, -20.0], [-930.0, 1040.0], [-1460.0, ...","[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46,20.00,"[[21.8, 1038.09, 1662.99, 719.69, 331.52, 1369..."

In [30]:
df_filter['dist_other_passes_defender_lop'][0]

[array([  30.51,  582.83,  765.37,  797.13, 1393.42, 1280.58,  142.18,
        1694.57,  920.59,  958.62, 2127.78]),
 array([ 434.87,  832.27, 1411.44,  440.22, 1102.88,   35.58, 1087.97,
        1904.25,  706.26, 3136.17, 1406.46]),
 array([  49.44,  568.21,  733.06,  805.87, 1394.97, 1322.26,  102.18,
        1673.28,  922.53,  861.82, 2141.58]),
 array([ 804.45,  688.79, 1464.06,  284.3 ,   88.69, 1636.61, 1722.68,
        1096.93,   19.28, 4237.61,  352.38]),
 array([ 814.57,  617.17, 1374.25,  391.56,   94.36, 1817.88, 1717.  ,
         881.82,  101.96, 4143.37,  635.61]),
 array([ 182.29,  456.21,  493.64,  855.09, 1384.35, 1596.06,  181.72,
        1497.13,  922.01,  165.2 , 2205.87]),
 array([ 335.41,  305.2 ,  188.14,  883.5 , 1321.81, 1867.74,  516.4 ,
        1231.58,  888.22,  677.96, 2203.82]),
 array([ 746.59,  792.2 , 1564.94,   66.34,  433.14, 1212.84, 1650.89,
        1454.11,  249.3 , 4213.96,  204.05]),
 array([ 416.83,  213.73,   10.62,  884.19, 1262.94, 1989.87,  698.18,
        1058.54,  853.36, 1146.88, 2163.96]),
 array([ 668.53,  145.6 ,  641.33,  787.43,  905.32, 2214.17, 1286.18,
         305.3 ,  629.74, 2737.11, 1774.86])]

In [31]:
##distance between each possible receiver to all defenders

dist_o_defender_lop=[]
dist_op_defender_lop=[]

count=0
for index,value in df_filter.iterrows():
    home_team_xy= value[['attackers_xy']].values.tolist()#zip(value['home_team_x'],value['home_team_y'])#value[['home_team_x','home_team_y']].values
    defender_xy=(value[['defenders_xy']]).values.tolist()
    
#     print len(defender_xy[0][10])
    dist_o_defender_lop=[]
    
    for i in range(0,len(home_team_xy[0])):  
    
        dist_defender_lop=[] 
        for j in range(0,len(defender_xy[0])):
            
            lop= distance.euclidean(home_team_xy[0][i], defender_xy[0][j])
            dist_defender_lop.append(lop)
        
        dist_o_defender_lop.append(np.round((dist_defender_lop),2))
    dist_op_defender_lop.append(dist_o_defender_lop)
df_filter['receiver_defender_dist']=(dist_op_defender_lop)
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,attackers_xy,dist_sender_own_players,dist_receiver_own_players,dist_sender_opp_players,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop,dist_other_passes_defender_lop,receiver_defender_dist
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[[-2240.0, -500.0], [-1240.0, -1410.0], [-850....","[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92,49.44,"[[30.51, 582.83, 765.37, 797.13, 1393.42, 1280...","[[3207.32, 3070.59, 3850.21, 2890.0, 2697.57, ..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[[3070.0, 800.0], [940.0, -460.0], [4450.0, 20...","[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09,382.79,"[[3289.0, 3611.47, 512.12, 147.18, 3037.53, 99...","[[3712.95, 6535.52, 1884.7, 3490.85, 4027.82, ..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[[-180.0, 1040.0], [-1440.0, 1010.0], [-1370.0...","[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32,115.30,"[[2152.61, 4503.95, 827.96, 1418.59, 2098.59, ...","[[2795.51, 4629.3, 970.98, 1850.43, 2229.46, 1..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[[-950.0, 1170.0], [-1140.0, -390.0], [1110.0,...","[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00,296.91,"[[11.5, 1322.15, 1745.26, 4060.27, 893.54, 388...","[[50.0, 1799.47, 2131.78, 5031.71, 2284.84, 76..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[[4880.0, -10.0], [2080.0, 650.0], [30.0, -201...","[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46,20.00,"[[21.8, 1038.09, 1662.99, 719.69, 331.52, 1369...","[[5760.01, 5904.12, 6551.19, 4782.99, 5629.1, ..."

### Find zone on pitch

In [32]:
pitch_third_sender=[]
pitch_channel_sender=[]
pitch_zone_sender=[]
pitch_zone=[]
for index,value in df_filter.iterrows():
    xy_away=[]
    xy_home=[]
    pitch_third_sender=[]
    pitch_channel_sender=[]
    pitch_zone_sender=[]

    xy_away=zip(value['away_team_x'],value['away_team_y'])
    
    xy_home=zip(value['home_team_x'],value['home_team_y'])
    combined_xy=xy_away+xy_home
    for i in range(0,len(combined_xy)):
        x_coords= combined_xy[i][0]
        if x_coords<=-1750:
            pitch_third_sender.append(1)
        elif x_coords>-1750 and x_coords<=1750:
            pitch_third_sender.append(2)
        else:
            pitch_third_sender.append(3)
        y_coords= combined_xy[i][1]
        
        if y_coords<=-2040:
            pitch_channel_sender.append(1)
        elif y_coords>-2040 and y_coords<=-680:
            pitch_channel_sender.append(2)
        elif y_coords>-680 and y_coords<=680:
            pitch_channel_sender.append(3)
        elif y_coords>680 and y_coords<=2040:
            pitch_channel_sender.append(4)
        else:
            pitch_channel_sender.append(5)
    zone=zip(pitch_third_sender,pitch_channel_sender)
    
    for index,value in enumerate(zone):
        if value[0] == 1 and value[1] == 1:
            pitch_zone_sender.append(1)
        elif value[0] == 1 and value[1] == 2:
            pitch_zone_sender.append(2)
        elif value[0] == 1 and value[1] == 3:
            pitch_zone_sender.append(3)
        elif value[0] == 1 and value[1] == 4:
            pitch_zone_sender.append(4)
        elif value[0] == 1 and value[1] == 5:
            pitch_zone_sender.append(5)
        elif value[0] == 2 and value[1] == 1:
            pitch_zone_sender.append(6)
        elif value[0] == 2 and value[1] == 2:
            pitch_zone_sender.append(7)
        elif value[0] == 2 and value[1] == 3:
            pitch_zone_sender.append(8)
        elif value[0] == 2 and value[1] == 4:
            pitch_zone_sender.append(9)
        elif value[0] == 2 and value[1] == 5:
            pitch_zone_sender.append(10)
        elif value[0] == 3 and value[1] == 1:
            pitch_zone_sender.append(11)
        elif value[0] == 3 and value[1] == 2:
            pitch_zone_sender.append(12)
        elif value[0] == 3 and value[1] == 3:
            pitch_zone_sender.append(13)
        elif value[0] == 3 and value[1] == 4:
            pitch_zone_sender.append(14)
        else:
            pitch_zone_sender.append(15)
    pitch_zone.append(pitch_zone_sender)

df_filter['pitch_zone_players']=pitch_zone

df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,dist_sender_own_players,dist_receiver_own_players,dist_sender_opp_players,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop,dist_other_passes_defender_lop,receiver_defender_dist,pitch_zone_players
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[[2392.82, 1945.17, 966.9, 3091.81, 184.39, 49...","[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92,49.44,"[[30.51, 582.83, 765.37, 797.13, 1393.42, 1280...","[[3207.32, 3070.59, 3850.21, 2890.0, 2697.57, ...","[3, 7, 8, 10, 8, 3, 3, 6, 8, 8, 9, 8, 8, 8, 9,..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[[1198.54, 3280.0, 1816.65, 2882.01, 3195.81, ...","[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09,382.79,"[[3289.0, 3611.47, 512.12, 147.18, 3037.53, 99...","[[3712.95, 6535.52, 1884.7, 3490.85, 4027.82, ...","[7, 3, 9, 10, 7, 15, 14, 14, 9, 12, 8, 14, 8, ..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[[1290.16, 1838.7, 1746.91, 1400.14, 1346.18, ...","[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32,115.30,"[[2152.61, 4503.95, 827.96, 1418.59, 2098.59, ...","[[2795.51, 4629.3, 970.98, 1850.43, 2229.46, 1...","[2, 3, 9, 10, 3, 10, 9, 8, 4, 7, 8, 9, 9, 10, ..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[[600.08, 1097.72, 1822.22, 1795.13, 2906.91, ...","[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00,296.91,"[[11.5, 1322.15, 1745.26, 4060.27, 893.54, 388...","[[50.0, 1799.47, 2131.78, 5031.71, 2284.84, 76...","[9, 8, 3, 13, 8, 9, 8, 9, 7, 8, 9, 9, 8, 8, 10..."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[[4880.01, 2179.2, 2010.22, 1366.24, 2388.72, ...","[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46,20.00,"[[21.8, 1038.09, 1662.99, 719.69, 331.52, 1369...","[[5760.01, 5904.12, 6551.19, 4782.99, 5629.1, ...","[8, 13, 13, 7, 8, 13, 8, 8, 10, 10, 6, 8, 9, 7..."

In [33]:
pitch_third_sender=[]
pitch_channel_sender=[]
pitch_zone_sender=[]
pitch_zone=[]
for index,value in df_filter.iterrows():
    xy_away=[]
    xy_home=[]
    pitch_third_sender=[]
    pitch_channel_sender=[]
    pitch_zone_sender=[]
    xy_away=zip([value['sender_x']],[value['sender_y']])
    
    xy_home=zip([value['receiver_x']],[value['receiver_y']])
    combined_xy=xy_away+xy_home
    for i in range(0,len(combined_xy)):
        x_coords= combined_xy[i][0]
        if x_coords<=-1750:
            pitch_third_sender.append(1)
        elif x_coords>-1750 and x_coords<=1750:
            pitch_third_sender.append(2)
        else:
            pitch_third_sender.append(3)
        y_coords= combined_xy[i][1]
        
        if y_coords<=-2040:
            pitch_channel_sender.append(1)
        elif y_coords>-2040 and y_coords<=-680:
            pitch_channel_sender.append(2)
        elif y_coords>-680 and y_coords<=680:
            pitch_channel_sender.append(3)
        elif y_coords>680 and y_coords<=2040:
            pitch_channel_sender.append(4)
        else:
            pitch_channel_sender.append(5)
    zone=zip(pitch_third_sender,pitch_channel_sender)
    
    for index,value in enumerate(zone):
        if value[0] == 1 and value[1] == 1:
            pitch_zone_sender.append(1)
        elif value[0] == 1 and value[1] == 2:
            pitch_zone_sender.append(2)
        elif value[0] == 1 and value[1] == 3:
            pitch_zone_sender.append(3)
        elif value[0] == 1 and value[1] == 4:
            pitch_zone_sender.append(4)
        elif value[0] == 1 and value[1] == 5:
            pitch_zone_sender.append(5)
        elif value[0] == 2 and value[1] == 1:
            pitch_zone_sender.append(6)
        elif value[0] == 2 and value[1] == 2:
            pitch_zone_sender.append(7)
        elif value[0] == 2 and value[1] == 3:
            pitch_zone_sender.append(8)
        elif value[0] == 2 and value[1] == 4:
            pitch_zone_sender.append(9)
        elif value[0] == 2 and value[1] == 5:
            pitch_zone_sender.append(10)
        elif value[0] == 3 and value[1] == 1:
            pitch_zone_sender.append(11)
        elif value[0] == 3 and value[1] == 2:
            pitch_zone_sender.append(12)
        elif value[0] == 3 and value[1] == 3:
            pitch_zone_sender.append(13)
        elif value[0] == 3 and value[1] == 4:
            pitch_zone_sender.append(14)
        else:
            pitch_zone_sender.append(15)
    pitch_zone.append(pitch_zone_sender)

df_filter['pitch_zone_sender_receiver']=pitch_zone

df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,dist_receiver_own_players,dist_sender_opp_players,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop,dist_other_passes_defender_lop,receiver_defender_dist,pitch_zone_players,pitch_zone_sender_receiver
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[[1426.36, 1290.35, 0.0, 3330.17, 990.0, 3970....","[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92,49.44,"[[30.51, 582.83, 765.37, 797.13, 1393.42, 1280...","[[3207.32, 3070.59, 3850.21, 2890.0, 2697.57, ...","[3, 7, 8, 10, 8, 3, 3, 6, 8, 8, 9, 8, 8, 8, 9,...","[8, 8]"
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[[2954.95, 1422.25, 4766.15, 3061.63, 4041.78,...","[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09,382.79,"[[3289.0, 3611.47, 512.12, 147.18, 3037.53, 99...","[[3712.95, 6535.52, 1884.7, 3490.85, 4027.82, ...","[7, 3, 9, 10, 7, 15, 14, 14, 9, 12, 8, 14, 8, ...","[13, 7]"
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[[842.91, 863.13, 771.04, 426.38, 1667.69, 380...","[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32,115.30,"[[2152.61, 4503.95, 827.96, 1418.59, 2098.59, ...","[[2795.51, 4629.3, 970.98, 1850.43, 2229.46, 1...","[2, 3, 9, 10, 3, 10, 9, 8, 4, 7, 8, 9, 9, 10, ...","[10, 9]"
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[[965.09, 1584.2, 3046.47, 2098.81, 2886.69, 0...","[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00,296.91,"[[11.5, 1322.15, 1745.26, 4060.27, 893.54, 388...","[[50.0, 1799.47, 2131.78, 5031.71, 2284.84, 76...","[9, 8, 3, 13, 8, 9, 8, 9, 7, 8, 9, 9, 8, 8, 10...","[8, 4]"
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[[4884.1, 2250.78, 1800.25, 1312.14, 2355.53, ...","[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46,20.00,"[[21.8, 1038.09, 1662.99, 719.69, 331.52, 1369...","[[5760.01, 5904.12, 6551.19, 4782.99, 5629.1, ...","[8, 13, 13, 7, 8, 13, 8, 8, 10, 10, 6, 8, 9, 7...","[8, 8]"

In [34]:
# pitch_channel_sender=[]
# pitch_channel_receiver=[]

# for index,value in df_filter.iterrows():
    
#     if value['sender_y']<=-2040:
#         pitch_channel_sender.append(1)
#     elif value['sender_y']>-2040 and value['sender_y']<=-680:
#         pitch_channel_sender.append(2)
#     elif value['sender_y']>-680 and value['sender_y']<=680:
#         pitch_channel_sender.append(3)
#     elif value['sender_y']>680 and value['sender_y']<=2040:
#         pitch_channel_sender.append(4)
#     else:
#         pitch_channel_sender.append(5)
    
#     if value['receiver_y']<=-2040:
#         pitch_channel_receiver.append(1)
#     elif value['receiver_y']>-2040 and value['receiver_y']<=-680:
#         pitch_channel_receiver.append(2)
#     elif value['receiver_y']>-680 and value['receiver_y']<=680:
#         pitch_channel_receiver.append(3)
#     elif value['receiver_y']>680 and value['receiver_y']<=2040:
#         pitch_channel_receiver.append(4)
#     else:
#         pitch_channel_receiver.append(5)
        
# df_filter['pitch_channel_sender']=pitch_channel_sender
# df_filter['pitch_channel_receiver']=pitch_channel_receiver

# df_filter.head()

#### Zones calculation

In [35]:
# pitch_zone_sender=[]
# pitch_zone_receiver=[]

# for index,value in df_filter.iterrows():
#     if value['pitch_third_sender'] ==1 and value['pitch_channel_sender']==1:
#         pitch_zone_sender.append(1)
#     elif value['pitch_third_sender'] ==1 and value['pitch_channel_sender']==2:
#         pitch_zone_sender.append(2)
#     elif value['pitch_third_sender'] ==1 and value['pitch_channel_sender']==3:
#         pitch_zone_sender.append(3)
#     elif value['pitch_third_sender'] ==1 and value['pitch_channel_sender']==4:
#         pitch_zone_sender.append(4)
#     elif value['pitch_third_sender'] ==1 and value['pitch_channel_sender']==5:
#         pitch_zone_sender.append(5)
#     elif value['pitch_third_sender'] ==2 and value['pitch_channel_sender']==1:
#         pitch_zone_sender.append(6)
#     elif value['pitch_third_sender'] ==2 and value['pitch_channel_sender']==2:
#         pitch_zone_sender.append(7)
#     elif value['pitch_third_sender'] ==2 and value['pitch_channel_sender']==3:
#         pitch_zone_sender.append(8)
#     elif value['pitch_third_sender'] ==2 and value['pitch_channel_sender']==4:
#         pitch_zone_sender.append(9)
#     elif value['pitch_third_sender'] ==2 and value['pitch_channel_sender']==5:
#         pitch_zone_sender.append(10)
#     elif value['pitch_third_sender'] ==3 and value['pitch_channel_sender']==1:
#         pitch_zone_sender.append(11)
#     elif value['pitch_third_sender'] ==3 and value['pitch_channel_sender']==2:
#         pitch_zone_sender.append(12)
#     elif value['pitch_third_sender'] ==3 and value['pitch_channel_sender']==3:
#         pitch_zone_sender.append(13)
#     elif value['pitch_third_sender'] ==3 and value['pitch_channel_sender']==4:
#         pitch_zone_sender.append(14)
#     else:
#         pitch_zone_sender.append(15)
    
#     if value['pitch_third_receiver'] ==1 and value['pitch_channel_receiver']==1:
#         pitch_zone_receiver.append(1)
#     elif value['pitch_third_receiver'] ==1 and value['pitch_channel_receiver']==2:
#         pitch_zone_receiver.append(2)
#     elif value['pitch_third_receiver'] ==1 and value['pitch_channel_receiver']==3:
#         pitch_zone_receiver.append(3)
#     elif value['pitch_third_receiver'] ==1 and value['pitch_channel_receiver']==4:
#         pitch_zone_receiver.append(4)
#     elif value['pitch_third_receiver'] ==1 and value['pitch_channel_receiver']==5:
#         pitch_zone_receiver.append(5)
#     elif value['pitch_third_receiver'] ==2 and value['pitch_channel_receiver']==1:
#         pitch_zone_receiver.append(6)
#     elif value['pitch_third_receiver'] ==2 and value['pitch_channel_receiver']==2:
#         pitch_zone_receiver.append(7)
#     elif value['pitch_third_receiver'] ==2 and value['pitch_channel_receiver']==3:
#         pitch_zone_receiver.append(8)
#     elif value['pitch_third_receiver'] ==2 and value['pitch_channel_receiver']==4:
#         pitch_zone_receiver.append(9)
#     elif value['pitch_third_receiver'] ==2 and value['pitch_channel_receiver']==5:
#         pitch_zone_receiver.append(10)
#     elif value['pitch_third_receiver'] ==3 and value['pitch_channel_receiver']==1:
#         pitch_zone_receiver.append(11)
#     elif value['pitch_third_receiver'] ==3 and value['pitch_channel_receiver']==2:
#         pitch_zone_receiver.append(12)
#     elif value['pitch_third_receiver'] ==3 and value['pitch_channel_receiver']==3:
#         pitch_zone_receiver.append(13)
#     elif value['pitch_third_receiver'] ==3 and value['pitch_channel_receiver']==4:
#         pitch_zone_receiver.append(14)
#     else:
#         pitch_zone_receiver.append(15)
        
# df_filter['pitch_zone_sender']=pitch_zone_sender
# df_filter['pitch_zone_receiver']=pitch_zone_receiver

# df_filter.head()

In [36]:
#Angle between sender and receiver
from math import atan2,degrees
angle_pass_players=[]

for index,value in df_filter.iterrows():
    attack_xy=value[['attackers_xy']].values.tolist()
    angle_pass_sr=[]

    for i in range(0,len(attack_xy[0])):
        angle=np.round(degrees(atan2((value['sender_y'] - attack_xy[0][i][1]), (value['sender_x'] - attack_xy[0][i][0])))%90,2)
        angle_pass_sr.append(angle)
    angle_pass_players.append(angle_pass_sr)

df_filter['angle_sr']=angle_pass_players
df_filter.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,dist_sender_opp_players,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop,dist_other_passes_defender_lop,receiver_defender_dist,pitch_zone_players,pitch_zone_sender_receiver,angle_sr
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[[814.92, 852.35, 1578.51, 885.27, 1395.89, 22...","[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92,49.44,"[[30.51, 582.83, 765.37, 797.13, 1393.42, 1280...","[[3207.32, 3070.59, 3850.21, 2890.0, 2697.57, ...","[3, 7, 8, 10, 8, 3, 3, 6, 8, 8, 9, 8, 8, 8, 9,...","[8, 8]","[12.06, 46.46, 10.73, 5.01, 12.53, 1.28, 79.9,..."
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[[4399.15, 7563.5, 3055.55, 4688.59, 4899.02, ...","[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09,382.79,"[[3289.0, 3611.47, 512.12, 147.18, 3037.53, 99...","[[3712.95, 6535.52, 1884.7, 3490.85, 4027.82, ...","[7, 3, 9, 10, 7, 15, 14, 14, 9, 12, 8, 14, 8, ...","[13, 7]","[63.22, 12.68, 80.17, 68.42, 50.33, 66.32, 3.8..."
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[[3752.55, 5084.85, 1139.52, 1422.25, 2928.65,...","[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32,115.30,"[[2152.61, 4503.95, 827.96, 1418.59, 2098.59, ...","[[2795.51, 4629.3, 970.98, 1850.43, 2229.46, 1...","[2, 3, 9, 10, 3, 10, 9, 8, 4, 7, 8, 9, 9, 10, ...","[10, 9]","[89.11, 45.88, 46.16, 45.58, 48.61, 7.09, 18.6..."
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[[648.85, 1460.55, 1853.48, 4702.28, 1748.37, ...","[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00,296.91,"[[11.5, 1322.15, 1745.26, 4060.27, 893.54, 388...","[[50.0, 1799.47, 2131.78, 5031.71, 2284.84, 76...","[9, 8, 3, 13, 8, 9, 8, 9, 7, 8, 9, 9, 8, 8, 10...","[8, 4]","[23.57, 66.94, 87.17, 77.12, 58.93, 72.29, 36...."
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[[880.23, 1395.17, 2210.7, 735.46, 810.25, 137...","[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46,20.00,"[[21.8, 1038.09, 1662.99, 719.69, 331.52, 1369...","[[5760.01, 5904.12, 6551.19, 4782.99, 5629.1, ...","[8, 13, 13, 7, 8, 13, 8, 8, 10, 10, 6, 8, 9, 7...","[8, 8]","[89.88, 17.35, 0.86, 70.77, 78.41, 15.31, 0.0,..."

In [37]:
print len(df_filter.columns)-len(df.columns)
df_filter.columns

24

Index([u'time_start', u'time_end', u'sender_id', u'receiver_id', u'x_1',
       u'x_2', u'x_3', u'x_4', u'x_5', u'x_6', u'x_7', u'x_8', u'x_9', u'x_10',
       u'x_11', u'x_12', u'x_13', u'x_14', u'x_15', u'x_16', u'x_17', u'x_18',
       u'x_19', u'x_20', u'x_21', u'x_22', u'x_23', u'x_24', u'x_25', u'x_26',
       u'x_27', u'x_28', u'y_1', u'y_2', u'y_3', u'y_4', u'y_5', u'y_6',
       u'y_7', u'y_8', u'y_9', u'y_10', u'y_11', u'y_12', u'y_13', u'y_14',
       u'y_15', u'y_16', u'y_17', u'y_18', u'y_19', u'y_20', u'y_21', u'y_22',
       u'y_23', u'y_24', u'y_25', u'y_26', u'y_27', u'y_28', u'pass_success',
       u'home_away', u'sender_x', u'sender_y', u'receiver_x', u'receiver_y',
       u'dist_send_receive', u'home_team_x', u'home_team_y', u'away_team_x',
       u'away_team_y', u'defenders_xy', u'attackers_xy',
       u'dist_sender_own_players', u'dist_receiver_own_players',
       u'dist_sender_opp_players', u'dist_receiver_opp_players',
       u'dist_closest_own_player', u'dist_closest_opp_player',
       u'dist_sr_closest_defender_lop', u'dist_other_passes_defender_lop',
       u'receiver_defender_dist', u'pitch_zone_players',
       u'pitch_zone_sender_receiver', u'angle_sr'],
      dtype='object')

In [38]:
# dist_s_p_df=pd.DataFrame(columns=['dist_s_p1', 'dist_s_p2', 'dist_s_p3','dist_s_p4','dist_s_p5',
#                                            'dist_s_p6','dist_s_p7','dist_s_p8','dist_s_p9','dist_s_p10',
#                                            'dist_s_p11'])

# for index,value in df_filter.iterrows():
#     dist_s_p_df=dist_s_p_df.append(pd.DataFrame(np.vstack(value['dist_sender_own_players'])))
# dist_s_p_df=dist_s_p_df.drop(columns=['dist_s_p1', 'dist_s_p2', 'dist_s_p3','dist_s_p4','dist_s_p5','dist_s_p6','dist_s_p7','dist_s_p8','dist_s_p9','dist_s_p10','dist_s_p11'])
# dist_s_p_df=dist_s_p_df.rename(columns=({0:'dist_s_p1', 1:'dist_s_p2', 2:'dist_s_p3',3:'dist_s_p4',4:'dist_s_p5',
#                                          5:'dist_s_p6',6:'dist_s_p7',7:'dist_s_p8',8:'dist_s_p9',9:'dist_s_p10',10:'dist_s_p11'}))
# dist_s_p_df=dist_s_p_df.reset_index(drop=True)
# dist_s_p_df.head()

In [11]:
final_df=pd.DataFrame()
final_list=[]
df_filter_copy=df_filter[(df_filter['pass_success']==1)].copy()
index=df_filter_copy.index[df_filter_copy.isnull().sum(axis=1)==14]
df_filter_copy=df_filter_copy[~df_filter_copy.index.isin(index)].reset_index(drop=True)
index_4621=[3833]#4621
df_filter_copy=df_filter_copy[~df_filter_copy.index.isin(index_4621)].reset_index(drop=True)
df_filter_copy.shape

(9671, 71)

In [40]:
df_filter_copy.isnull().sum(axis=1).value_counts()

12    9671
dtype: int64

In [41]:
modified_receiver_id=[]
for index,value in df_filter_copy.iterrows():
    if value['home_away']==1:
        
        attackers_xy=list(value[['receiver_x','receiver_y']])
        attack_team=np.column_stack((value[['home_team_x','home_team_y']])).tolist()
    
        modified_receiver_id.append(attack_team.index(attackers_xy))
    else:
        attackers_xy=list(value[['receiver_x','receiver_y']])
        attack_team=np.column_stack((value[['away_team_x','away_team_y']])).tolist()
    
        modified_receiver_id.append(attack_team.index(attackers_xy))
df_filter_copy['modified_receiver_id']=modified_receiver_id
df_filter_copy.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,dist_receiver_opp_players,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop,dist_other_passes_defender_lop,receiver_defender_dist,pitch_zone_players,pitch_zone_sender_receiver,angle_sr,modified_receiver_id
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,"[[1781.01, 1700.0, 2475.88, 1557.95, 1669.01, ...",966.90,814.92,49.44,"[[30.51, 582.83, 765.37, 797.13, 1393.42, 1280...","[[3207.32, 3070.59, 3850.21, 2890.0, 2697.57, ...","[3, 7, 8, 10, 8, 3, 3, 6, 8, 8, 9, 8, 8, 8, 9,...","[8, 8]","[12.06, 46.46, 10.73, 5.01, 12.53, 1.28, 79.9,...",2
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,"[[1557.08, 5285.2, 2919.86, 4316.17, 2443.11, ...",1198.54,1388.09,382.79,"[[3289.0, 3611.47, 512.12, 147.18, 3037.53, 99...","[[3712.95, 6535.52, 1884.7, 3490.85, 4027.82, ...","[7, 3, 9, 10, 7, 15, 14, 14, 9, 12, 8, 14, 8, ...","[13, 7]","[63.22, 12.68, 80.17, 68.42, 50.33, 66.32, 3.8...",10
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,"[[2781.83, 4191.15, 194.16, 1007.67, 1956.73, ...",1290.16,297.32,115.30,"[[2152.61, 4503.95, 827.96, 1418.59, 2098.59, ...","[[2795.51, 4629.3, 970.98, 1850.43, 2229.46, 1...","[2, 3, 9, 10, 3, 10, 9, 8, 4, 7, 8, 9, 9, 10, ...","[10, 9]","[89.11, 45.88, 46.16, 45.58, 48.61, 7.09, 18.6...",8
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,"[[943.66, 2683.08, 1657.74, 5933.34, 2961.77, ...",1097.72,370.00,296.91,"[[11.5, 1322.15, 1745.26, 4060.27, 893.54, 388...","[[50.0, 1799.47, 2131.78, 5031.71, 2284.84, 76...","[9, 8, 3, 13, 8, 9, 8, 9, 7, 8, 9, 9, 8, 8, 10...","[8, 4]","[23.57, 66.94, 87.17, 77.12, 58.93, 72.29, 36....",5
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,"[[900.28, 1558.01, 2057.69, 531.6, 749.67, 158...",984.94,735.46,20.00,"[[21.8, 1038.09, 1662.99, 719.69, 331.52, 1369...","[[5760.01, 5904.12, 6551.19, 4782.99, 5629.1, ...","[8, 13, 13, 7, 8, 13, 8, 8, 10, 10, 6, 8, 9, 7...","[8, 8]","[89.88, 17.35, 0.86, 70.77, 78.41, 15.31, 0.0,...",7

In [42]:
modified_sender_id=[]
for index,value in df_filter_copy.iterrows():
    if value['home_away']==1:
        
        attackers_xy=list(value[['sender_x','sender_y']])
        attack_team=np.column_stack((value[['home_team_x','home_team_y']])).tolist()
    
        modified_sender_id.append(attack_team.index(attackers_xy))
    else:
        attackers_xy=list(value[['sender_x','sender_y']])
        attack_team=np.column_stack((value[['away_team_x','away_team_y']])).tolist()
    
        modified_sender_id.append(attack_team.index(attackers_xy))
df_filter_copy['modified_sender_id']=modified_sender_id
df_filter_copy.head()

,time_start,time_end,sender_id,receiver_id,x_1,x_2,x_3,x_4,x_5,x_6,...,dist_closest_own_player,dist_closest_opp_player,dist_sr_closest_defender_lop,dist_other_passes_defender_lop,receiver_defender_dist,pitch_zone_players,pitch_zone_sender_receiver,angle_sr,modified_receiver_id,modified_sender_id
0,1396100,1397300,26,18,890.0,830.0,1610.0,NaN,310.0,310.0,...,966.90,814.92,49.44,"[[30.51, 582.83, 765.37, 797.13, 1393.42, 1280...","[[3207.32, 3070.59, 3850.21, 2890.0, 2697.57, ...","[3, 7, 8, 10, 8, 3, 3, 6, 8, 8, 9, 8, 8, 8, 9,...","[8, 8]","[12.06, 46.46, 10.73, 5.01, 12.53, 1.28, 79.9,...",2,9
1,78900,81100,11,14,3070.0,NaN,940.0,4450.0,1460.0,1680.0,...,1198.54,1388.09,382.79,"[[3289.0, 3611.47, 512.12, 147.18, 3037.53, 99...","[[3712.95, 6535.52, 1884.7, 3490.85, 4027.82, ...","[7, 3, 9, 10, 7, 15, 14, 14, 9, 12, 8, 14, 8, ...","[13, 7]","[63.22, 12.68, 80.17, 68.42, 50.33, 66.32, 3.8...",10,9
2,36600,37300,4,10,-180.0,NaN,-1440.0,-160.0,-1370.0,-1140.0,...,1290.16,297.32,115.30,"[[2152.61, 4503.95, 827.96, 1418.59, 2098.59, ...","[[2795.51, 4629.3, 970.98, 1850.43, 2229.46, 1...","[2, 3, 9, 10, 3, 10, 9, 8, 4, 7, 8, 9, 9, 10, ...","[10, 9]","[89.11, 45.88, 46.16, 45.58, 48.61, 7.09, 18.6...",8,2
3,370300,371300,12,7,-950.0,-1140.0,1110.0,NaN,-310.0,-2210.0,...,1097.72,370.00,296.91,"[[11.5, 1322.15, 1745.26, 4060.27, 893.54, 388...","[[50.0, 1799.47, 2131.78, 5031.71, 2284.84, 76...","[9, 8, 3, 13, 8, 9, 8, 9, 7, 8, 9, 9, 8, 8, 10...","[8, 4]","[23.57, 66.94, 87.17, 77.12, 58.93, 72.29, 36....",5,9
4,600,1400,15,24,-880.0,-930.0,-1460.0,150.0,-740.0,-110.0,...,984.94,735.46,20.00,"[[21.8, 1038.09, 1662.99, 719.69, 331.52, 1369...","[[5760.01, 5904.12, 6551.19, 4782.99, 5629.1, ...","[8, 13, 13, 7, 8, 13, 8, 8, 10, 10, 6, 8, 9, 7...","[8, 8]","[89.88, 17.35, 0.86, 70.77, 78.41, 15.31, 0.0,...",7,0

In [44]:
final_list=[]
for index,value in df_filter_copy.iterrows():
    
    sender=[value['modified_sender_id']]
    receiver=[value['modified_receiver_id']]
    dist_sender_own_players=value['dist_sender_own_players'].reshape(10)
    dist_sender_opp_players=value['dist_sender_opp_players'].reshape(11)
    dist_other_passes_defender_lop=np.array(value['dist_other_passes_defender_lop']).ravel()
    dist_receiver_defenders=np.array(value['receiver_defender_dist']).ravel()
    angle_passes=value['angle_sr']
#     sender_receiver_zones=value['pitch_zone_players']
    combine=(list(dist_sender_own_players)+list(dist_sender_opp_players)
            +list(dist_other_passes_defender_lop)+list(dist_receiver_defenders)+list(angle_passes)
            +list(sender)+list(receiver))
    final_list.append(combine)
    combine=pd.DataFrame(np.vstack(final_list))
#     final_df=final_df.append(np.vstack(pd.DataFrame(combine)))
    #     append_p1.append(dist_sender_own_players)
combine.head()# append_p1

,0,1,2,3,4,5,6,7,8,9,...,243,244,245,246,247,248,249,250,251,252
0,2392.82,1945.17,966.90,3091.81,184.39,4921.23,2224.45,2503.80,1158.02,2183.44,...,10.73,5.01,12.53,1.28,79.90,80.58,73.44,49.09,9.0,2.0
1,1198.54,3280.00,1816.65,2882.01,3195.81,1244.83,1333.04,713.44,4780.60,3264.41,...,80.17,68.42,50.33,66.32,3.87,5.63,83.51,37.78,9.0,10.0
2,1290.16,1838.70,1746.91,1400.14,1346.18,4373.47,2691.12,977.45,4407.56,3821.54,...,46.16,45.58,48.61,7.09,18.64,48.32,59.30,60.01,2.0,8.0
3,600.08,1097.72,1822.22,1795.13,2906.91,1249.20,2398.27,3153.57,2005.32,2124.26,...,87.17,77.12,58.93,72.29,36.01,2.73,24.14,79.70,9.0,5.0
4,4880.01,2179.20,2010.22,1366.24,2388.72,984.94,210.00,2776.94,2380.02,3049.10,...,0.86,70.77,78.41,15.31,0.00,72.61,89.76,23.79,0.0,7.0

In [45]:
#list(dist_sender_own_players)+list(dist_sender_opp_players)
#             +list(dist_other_passes_defender_lop)+list(dist_receiver_defenders)
#             +list(sender)+list(receiver)
#low precision
combine.to_csv('combined_modified_all_defenders.csv',index=False)
combine.tail()

,0,1,2,3,4,5,6,7,8,9,...,243,244,245,246,247,248,249,250,251,252
9666,3125.41,2903.00,2365.16,3937.54,5474.16,1751.14,3953.24,2042.47,2213.26,6085.60,...,11.21,8.91,26.00,21.44,73.99,54.36,86.89,41.47,5.0,9.0
9667,2025.66,2520.50,1726.09,4261.61,3760.33,754.25,3604.55,2733.00,2480.08,3644.08,...,37.47,78.77,21.86,6.09,83.31,35.32,89.54,42.89,2.0,1.0
9668,1887.67,1890.00,5243.44,840.95,2323.32,1500.00,1802.69,2255.15,260.00,927.79,...,2.08,2.73,60.90,0.00,77.51,38.70,0.00,7.43,1.0,9.0
9669,2598.87,2111.92,710.28,1704.85,1454.13,5315.07,3370.10,3728.48,3486.49,4481.54,...,35.26,46.66,65.20,65.07,42.11,7.09,73.33,29.25,9.0,4.0
9670,782.62,3225.55,2374.74,2323.12,3308.31,6027.47,4720.86,2873.08,5310.01,3013.25,...,86.38,65.86,59.48,2.85,32.98,67.27,62.04,87.34,2.0,0.0

In [55]:
final_list=[]
for index,value in df_filter_copy.iterrows():
    
    sender=[value['modified_sender_id']]
    receiver=[value['modified_receiver_id']]

    dist_sender_own_players=value['dist_sender_own_players'].reshape(10)
    dist_sender_opp_players=value['dist_sender_opp_players'].reshape(11)
    dist_receiver_own_players=value['dist_receiver_own_players'].reshape(10)
    dist_receiver_opp_players=value['dist_receiver_opp_players'].reshape(11)
    dist_other_passes_defender_lop=[value['dist_sr_closest_defender_lop']]
    dist_sender_receiver=np.array(value['dist_send_receive'])    
    zones_sender_receiver=np.array(value['pitch_zone_sender_receiver'])

    combine=(list(dist_sender_own_players)+list(dist_sender_opp_players)+list(dist_receiver_own_players)
             +list(dist_receiver_opp_players)+list(dist_other_passes_defender_lop)+list(zones_sender_receiver)
            +list(sender)+list(receiver))
    final_list.append(combine)
    combine=pd.DataFrame(np.vstack(final_list))
#     final_df=final_df.append(np.vstack(pd.DataFrame(combine)))
    #     append_p1.append(dist_sender_own_players)
combine.head()# append_p1

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,2392.82,1945.17,966.90,3091.81,184.39,4921.23,2224.45,2503.80,1158.02,2183.44,...,2689.91,2533.08,1390.14,5211.16,2635.19,49.44,8.0,8.0,9.0,2.0
1,1198.54,3280.00,1816.65,2882.01,3195.81,1244.83,1333.04,713.44,4780.60,3264.41,...,3222.33,4614.59,3298.44,1792.93,1592.61,382.79,13.0,7.0,9.0,10.0
2,1290.16,1838.70,1746.91,1400.14,1346.18,4373.47,2691.12,977.45,4407.56,3821.54,...,680.07,1746.14,1384.63,2581.47,1128.98,115.30,10.0,9.0,2.0,8.0
3,600.08,1097.72,1822.22,1795.13,2906.91,1249.20,2398.27,3153.57,2005.32,2124.26,...,1499.67,1662.08,3353.36,904.71,2217.21,296.91,8.0,4.0,9.0,5.0
4,4880.01,2179.20,2010.22,1366.24,2388.72,984.94,210.00,2776.94,2380.02,3049.10,...,1843.83,2524.92,4922.60,1909.37,1360.15,20.00,8.0,8.0,0.0,7.0

In [56]:
#list(dist_sender_own_players)+list(dist_sender_opp_players)+list(dist_receiver_own_players)
#              +list(dist_receiver_opp_players)+list(dist_other_passes_defender_lop)
#             +list(sender)+list(receiver)
#high precision
combine.to_csv('combined_original_2.csv',index=False)
combine.tail()

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
9666,3125.41,2903.00,2365.16,3937.54,5474.16,1751.14,3953.24,2042.47,2213.26,6085.60,...,3480.80,2038.06,4361.01,4478.66,2348.83,1119.30,5.0,3.0,5.0,9.0
9667,2025.66,2520.50,1726.09,4261.61,3760.33,754.25,3604.55,2733.00,2480.08,3644.08,...,3802.37,2074.08,1781.35,2175.89,3788.93,181.08,2.0,7.0,2.0,1.0
9668,1887.67,1890.00,5243.44,840.95,2323.32,1500.00,1802.69,2255.15,260.00,927.79,...,2025.44,2235.58,2015.47,700.29,4853.34,20.00,8.0,8.0,1.0,9.0
9669,2598.87,2111.92,710.28,1704.85,1454.13,5315.07,3370.10,3728.48,3486.49,4481.54,...,799.25,1330.00,3530.74,2603.25,1617.19,96.00,6.0,7.0,9.0,4.0
9670,782.62,3225.55,2374.74,2323.12,3308.31,6027.47,4720.86,2873.08,5310.01,3013.25,...,1453.44,2589.40,2597.17,3944.68,444.07,38.46,6.0,6.0,2.0,0.0